<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>받은 쪽지 상세</title>
  <link rel="stylesheet" th:href="@{/css/message.css}">
</head>
<body>
<div th:replace="fragments/layout :: header"></div>

<div class="message-page-container">
  <!-- 사이드바 프래그먼트 -->
  <div th:replace="fragments/messageSidebar :: messageSidebar"></div>

  <!-- 받은 쪽지 상세 -->
  <section class="message-content">
    <h2 th:text="${message.senderNickname} + ' 님에게 받은 쪽지'">보낸 사람</h2>

    <div class="message-detail-box">
      <div class="message-content-box">
        <p th:text="${message.messageContent}">쪽지 내용</p>
      </div>

      <div class="message-meta">
        <span th:text="'보낸 날짜 | ' + ${#dates.format(message.messageWriteDate, 'yyyy-MM-dd | HH:mm:ss')}">2025-05-21 | 13:30:00</span>
      </div>

      <div class="message-detail-btns">
        <a th:href="@{|/message/write?to=${message.senderId}|}" class="btn">답장하기</a>
        <a th:href="@{|/message/delete/${message.messageNo}|}" class="btn">삭제</a>
        <a th:href="@{/message/received}" class="btn">목록</a>
      </div>
    </div>
  </section>
</div>

<div th:replace="fragments/layout :: footer"></div>
</body>
</html>