<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" th:href="@{/css/member.css}">
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<main class="find-box">
    <h2>아이디 찾기</h2>

    <form th:action="@{/member/findId}" method="post" id="findIdForm">
        <div class="input-area">
            <label for="email">가입한 이메일</label>
            <input type="email" id="email" name="memberEmail" placeholder="example@email.com" required>
        </div>

        <div class="btn-box">
            <button type="submit" class="btn purple-btn">인증 메일 받기</button>
        </div>
    </form>

    <div class="result-box" th:if="${findResult != null}">
        <p>가입된 아이디는 다음과 같습니다.</p>
        <strong th:text="${findResult}">always_lily1009</strong>
    </div>

    <div class="result-box error" th:if="${error != null}">
        <p th:text="${error}">입력하신 이메일로 가입된 계정을 찾을 수 없습니다.</p>
    </div>
</main>
<div th:replace="fragments/layout :: footer"></div>
<script src="/js/findId.js"></script>

</body>
</html>